@import "./variables.scss";

.App {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.cars-list {
  width: min(800px, 95vw);
  overflow: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 1rem;

  &__sort {
    width: 100%;
    height: min-content;
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  @include mobile {
    flex-grow: 1;
  }
}

.sort__btn {
  background-color: lightgreen;
}
